<html lang="en">
<head>
    <meta charset="utf-8">
    <title>商品规格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/style/layui2/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/style/css/admin.css" media="all">
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">商品规格</div>
        <div class="layui-card-body" style="padding: 15px;">
            <!-- 表单开始部分  -->
            <form class="layui-form" action="" lay-filter="edit_form">
            {{if eq .edit_flag "1" }}
                <input type=hidden name='id' value="{{.data.id}}">
            {{end}}
                <div class="layui-form-item">
                    <label class="layui-form-label">规格类型</label>
                    <div class="layui-input-inline">
                        <select name="type_id">
                        {{range  $key,$vo:=.goods_type }}
                            <option value='{{$vo.id}}'
                                    {{if eq $.data.type_id $vo.id }}selected{{end}}>{{$vo.name}}</option>
                        {{end}}

                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">规格名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="请输入规格名称"
                               value="{{.data.name}}" id="name" lay-fiter="name" class="layui-input" required
                               lay-verify="">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">规格项</label>
                    <div class="layui-input-block">
                        <textarea name="memo" id="memo" class="layui-textarea">{{.data.memo }}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <input type="text" name="order_num" placeholder="请输入排序"
                               value="{{.data.order}}" id="order" lay-fiter="order" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否需要检索</label>
                    <div class="layui-input-inline">

                        <input type="radio" name="search_index" value="1" title="是"
                               {{if eq .data.search_index "1"}}checked=""{{end}}>
                        <input type="radio" name="search_index" value="0" title="否"
                               {{if eq .data.search_index "0"}}checked=""{{end}}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="tj">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 表单结束部分  -->

<script type="text/javascript" src="/static/style/layui2/layui.js"></script>
<script>
    layui.use(['form', 'upload', 'laydate', 'layedit', 'layer'], function () {
        var form = layui.form,
                upload = layui.upload,
                laydate = layui.laydate,
                layedit = layui.layedit,
                $ = layui.$;


        function init_form() {
        }

        var is_submit = false;
        form.on('submit(tj)', function (data) {
            if (is_submit) {
                layer.alert('请勿多次提交数据');
                return false;
            }
            is_submit = true;
            $.ajax({
                url: "/admin/spec_save/",
                type: 'POST',
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    if (res.status == 100) {
                        layer.alert(res.msg, function (index) {
                            layer.close(index);
                            var index = parent.layer.getFrameIndex(window.name);
                            //parent.close();
                            parent.layui.table.reload('table_id');
                            parent.layer.close(index);
                        });

                    } else {
                        layer.alert(res.msg)
                        is_submit = false;
                    }

                }
            });
            return false;
        });
        init_form();
    });
</script>
</body>
</html>