<html lang="en">
<head>
    <meta charset="utf-8">
    <title>数据编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/style/layui2/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/style/css/admin.css" media="all">
<body>
<div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-header">数据表管理</div>
                <div class="layui-card-body" style="padding: 15px;">
                    <!-- 表单开始部分  -->
                    <form class="layui-form" action="" lay-filter="component-form-group">
                    {{if eq .edit_flag "1" }}
                        <input type=hidden name='id' value="{{.data.id}}">
                    {{end}}
                        <div class="layui-form-item">
                        <label class="layui-form-label">数据表名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" required lay-verify="required" placeholder="名称"
                                   value="{{ .data.name }}" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label">中文名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="cn_name" required lay-verify="required" placeholder="请输入名称"
                                   value="{{ .data.cn_name }}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">默认排序字段</label>
                            <div class="layui-input-inline">
                                <input type="text" name="order_str" required lay-verify="required" placeholder="请输入排序规则"
                                       value="{{ .data.order_str }}" autocomplete="off" class="layui-input">
                            </div>
                            <label class="layui-form-label">默认排序规则</label>
                            <div class="layui-input-inline">
                                <select name="order_type">
                                    <option value="desc" {{if eq .data.order_type  "desc"}}selected{{end}} >降序</option>
                                    <option value="asc" {{if eq .data.order_type "asc"}}selected{{end}}>升序</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">控制器名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="con_name"  placeholder="请输入名称"
                                       value="{{ .data.con_name }}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">链接名称</label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea" name="url_name" id="LAY_demo_editor">{{.data.url_name}}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">链接地址</label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea" name="url_add" >{{.data.url_add}}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="tj">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

<!-- 表单结束部分  -->

<script type="text/javascript" src="/static/style/layui2/layui.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
                $ = layui.$;

        function init_form() {

        }
        var is_submit=false;
        form.on('submit(tj)', function(data){
            if(is_submit){
                layer.alert('请勿多次提交数据');
                return false;
            }
            layer.load(0, {shade: false});
            is_submit=true;
            $.ajax({
                url: "/admin/module_save/",
                type: 'POST',
                data:data.field,
                dataType: 'json',
                success: function (res) {
                    if (res.status == 100) {
                        layer.alert(res.msg, function(index){
                            layer.close(index);
                            var index = parent.layer.getFrameIndex(window.name);
                            //parent.close();
                            parent.layui.table.reload('table_id');
                            parent.layer.close(index);
                        });

                    } else {
                        layer.alert(res.msg)
                        is_submit = false;
                    }

                }
            });
            return false;
        });
        init_form();
    });
</script>
</body>
</html>