{{define "footjs"}}
function ajaxinputspec() {
var spec_arr="";
$("input:checkbox[name='spec_id']:checked").each(function() { // 遍历name=standard的多选框
if(spec_arr==""){
spec_arr=res.data[i].id;
}else{
spec_arr+=","+res.data[i].id;
}
});
ajaxGetSpecInput2(spec_arr);

}

/**
* 根据用户选择的不同规格选项
* 返回 不同的输入框选项
*/
function ajaxGetSpecInput2(spec_arr)
{

var goods_id = $("#id").val();
$.ajax({
type:'POST',
data:{'spec_arr':spec_arr},
url:"{:U('Goods/ajax_get_spec_input')}/goods_id/"+goods_id,
success:function(data){
$("#goods_spec_table2").html('')
$("#goods_spec_table2").append(data);
hbdyg();  // 合并单元格
}
});
}

// 合并单元格
function hbdyg() {
var tab = document.getElementById("spec_input_tab"); //要合并的tableID
var maxCol = 2, val, count, start;  //maxCol：合并单元格作用到多少列
if (tab != null) {
for (var col = maxCol - 1; col >= 0; col--) {
count = 1;
val = "";
for (var i = 0; i < tab.rows.length; i++) {
if (val == tab.rows[i].cells[col].innerHTML) {
count++;
} else {
if (count > 1) { //合并
start = i - count;
tab.rows[start].cells[col].rowSpan = count;
for (var j = start + 1; j < i; j++) {
tab.rows[j].cells[col].style.display = "none";
}
count = 1;
}
val = tab.rows[i].cells[col].innerHTML;
}
}
if (count > 1) { //合并，最后几行相同的情况下
start = i - count;
tab.rows[start].cells[col].rowSpan = count;
for (var j = start + 1; j < i; j++) {
tab.rows[j].cells[col].style.display = "none";
}
}
}
}
}

function set_type_items(res) {
var str1 = " <div class=\"layui-form-item\">\n" +
    "                    <label class=\"layui-form-label\">" + res.name + "</label>\n" +
    "                    <div class=\"layui-input-block\">\n";
        //console.log(JSON.stringify(res.data))
        for (var i = 0; i < res.data.length; i++) {
        str1 += "<input type=\"checkbox\" lay-filter='spec_items' value='"+res.data[i].id+"' name='spec_id' title='"+res.data[i].item+"'";
        if (res.data[i].checked) {
        str1 += "checked ";
        }
        str1 += "\"  >";
        }
        str1 += "                    </div>\n" +
    "                    </div>";
return str1;
}

function goods_type() {
spec_arr="";
$.ajax({
url: "/admin/get_goods_spec/",
type: 'POST',
data: {type_id: $('#goods_type').val(),goods_id:goods_id},
dataType: 'json',
success: function (res) {
if (res.status == 100) {
var str1 = "";
for (var i = 0; i < res.data.length; i++) {
str1 += set_type_items(res.data[i]);
}
//$('#goods_type_list').html("");
$('#goods_type_list').html(str1);
form.render("checkbox");
}

}
});

}
        {{end}}