<html lang="en">
<head>
    <meta charset="utf-8">
    <title>数据字典</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/style/layui2/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/style/css/admin.css" media="all">
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">数据字典</div>
        <div class="layui-card-body" style="padding: 15px;">
            <!-- 表单开始部分  -->
            <form class="layui-form" action="" lay-filter="edit_form">
            {{if eq .edit_flag "1" }}
                <input type=hidden name='id' value="{{.data.id}}">
            {{end}}
                <div class="layui-form-item">
                    <label class="layui-form-label">分类名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="请输入分类名称"
                               value="{{.data.name}}" id="name" lay-fiter="name" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="dict_key" placeholder="请输入关键字"
                               value="{{.data.dict_key}}" id="dict_key" lay-fiter="dict_key" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">属性值</label>
                    <div class="layui-input-inline">
                        <input type="text" name="dict_value" placeholder="请输入属性值"
                               value="{{.data.dict_value}}" id="dict_value" lay-fiter="dict_value" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">图片</label>
                        <div class="layui-input-inline layui-upload">
                            <input type="hidden" name="img" id="img_hd" value="{{.data.img}}">
                            <button type="button" class="layui-btn" id="img_btn">上传图片</button>
                            <div class="layui-upload-list ">
                                <img class="layui-upload-img" id="img_img"
                                     style="width:100px;height:auto" {{if ne .data.img ""}}
                                     src="{{.data.img}}.thumb"{{end}}>
                                <p id="img_demoText"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">英文名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="en_name" placeholder="请输入英文名"
                               value="{{.data.en_name}}" id="en_name" lay-fiter="en_name" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <input type="text" name="px" placeholder="请输入排序"
                               value="{{.data.px}}" id="px" lay-fiter="px" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否必填</label>
                    <div class="layui-input-inline">
                        <input type="text" name="is_null" placeholder="请输入是否必填"
                               value="{{.data.is_null}}" id="is_null" lay-fiter="is_null" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="tj">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 表单结束部分  -->

<script type="text/javascript" src="/static/style/layui2/layui.js"></script>
<script>
    layui.use(['form', 'upload', 'laydate', 'layedit', 'layer'], function () {
        var form = layui.form,
                upload = layui.upload,
                laydate = layui.laydate,
                layedit = layui.layedit,
                $ = layui.$;


        var uploadInst = upload.render({
            elem: '#img_btn'
            , field: "uploadImage"
            , url: '/admin/lay_upload_file/'
            , before: function (obj) {
//预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#img_img').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
//如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                } else {
                    $('#img_hd').val(res.data.src);
                }

//上传成功
            }
            , error: function () {
//演示失败状态，并实现重传
                var demoText = $('#img_demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });


        function init_form() {
        }

        var is_submit = false;
        form.on('submit(tj)', function (data) {
            if (is_submit) {
                layer.alert('请勿多次提交数据');
                return false;
            }
            is_submit = true;
            $.ajax({
                url: "/admin/valdict_save/",
                type: 'POST',
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    layer.alert(res.msg);
                    if (res.status == 100) {
                        var index = parent.layer.getFrameIndex(window.name);
                        //parent.close();
                        parent.layui.table.reload('table_id');
                        parent.layer.close(index);
                    } else {
                        is_submit = false;
                    }

                }
            });
            return false;
        });
        init_form();
    });
</script>
</body>
</html>